/* Write your CSS here */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.title {
  color: #000000;
  font-size: 14px;
  font-family: roboto;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}

.delete-button {
  color: #ff0b37;
  background-color: #ffffff;
  border: 1px solid #ff0b37;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: roboto;
  outline: none;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 16px;
}
@media screen and (max-width: 768px) {
  .delete-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 32px;
  }
}
