/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
}

.simple-todos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px;
  width: 90%;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .simple-todos-container {
    padding: 48px;
    width: 90%;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}
.heading {
  color: #ff8542;
  font-family: roboto;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}
.todos-list {
  padding-left: 0px;
}
